<?php
// Enter your correct credentails and save this file as
// ConnectionCredentails.php.
define('MSGAPI_GATEWAY_THREEMA_ID', '*MYAPIID');
define('MSGAPI_GATEWAY_THREEMA_ID_SECRET', 'df4oUM7eYei3kEAV');

// Enter the default ID you like to send messages to (this may be your own
// private ID).
define('MSGAPI_DEFAULTRECIEVER', 'ECHOECHO');
