body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    line-height: 1.5;
    background-color: rgb(250, 250, 254);
    padding-left: 5%;
    padding-right: 5%;
    max-width: 1000px;
}

code {
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 0.2em;
    font-size: 85%;
    border-radius: 3px;
}

.graphicon {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.warning {
    background-color: rgb(255, 0, 0);
    color: rgb(50, 33, 33);
    padding: 5px;
    border: 1px solid rgb(148, 0, 0);
    border-radius: 5px;
}

.filecheck {

}

.filecheckdesc {
    vertical-align: middle;
}
